# Systemd service file
# To enable this service:
#  - Copy or link this file into /etc/systemd/system/
#  - sudo systemctl daemon-reload
#  - sudo systemctl start mqtt_1w.service

[Unit]
Description=Publish one-wire sensor values with MQTT
After=network.target

[Service]
Type=simple
ExecStart=/opt/mqtt_onewire_sensors/mqtt_1w.py
Restart=on-failure
RestartSec=300

[Install]
WantedBy=multi-user.target
